<h1><%= @game.name %></h1>
<p><%= @game.summary %></p>
<ul>
  <li>Rating: <%= @game.rating %></li>
  <li>Category: <%= @game.category %></li>
  <li>Release Date: <%= @game.release_date %></li>
  <li>Platform(s): <%= @game.platforms.map { |plat| plat.name }.join(', ') %></li>
  <li>Genre(s): <%= @game.genres.map { |gen| gen.name }.join(', ') %></li>
</ul>
<p><%= link_to 'Back to Games', games_path %></p>
<p>
  <%=
    link_to 'Delete this Game', game_path(@game), method: :delete, data: {
      confirm: 'Do you really want to delete this game?',
    }
  %>
</p>
