<h1><%= @company.name %></h1>
<p><%= @company.description %></p>
<ul>
  <li>Start Date: <%= @company.start_date %></li>
  <li>Country: <%= @company.country %></li>
</ul>
<p><%= link_to 'Back to Companies', companies_path %></p>
<p>
  <%=
    link_to 'Delete this Company', company_path(@company), method: :delete, data: {
      confirm: 'Do you really want to delete this company?',
    }
  %>
</p>
